includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - App/

    # Level 9 is the highest level
    level: 9

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
    excludePaths:
        - ./*/*/*.blade.php
        - ./App/Infrastructure/Laravel/Tests/*/*.php

#    checkMissingIterableValueType: false
